/* quick reset to get everythign ready for styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* basic styling and organizing to make the page easier to read */
body {
  background-color: #e0fbfc;
}

h1 {
  text-align: center;
  background-color: #293241;
  color: #98c1d9;
  padding: 50px;
}

h2 {
  color: #3d5a80;
  text-align: center;
}

button {
  background-color: #98c1d9;
  color: #293241;
  padding: 15px, 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

#startBtn,
#startPage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startPage {
  width: 540px;
  top: 50%;
}

#startBtn {
  font-size: 25px;
  font-weight: 500;
  top: 130%;
}

#timerDisplay {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 135px;
  right: 5px;
}

#questions {
  text-align: center;
}

#play-again {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
